@media(max-width:576px){
    .navbar-toggler:focus{
        box-shadow: none;
    } 

    .menu ul {
        margin-top: 20px;
    }

    .simple-text h1{
        font-size: 30px;
    }

    .featutetext{
        margin-bottom: 28px;
    }
}

@media(max-width:991px){
    .show{
        width: 50%;
    }
}